{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Tarea 1 - IA {% endblock %}</h1>
    <div class="row mt-10">
        <div class="col-md-2">
            <form method="post">
                <div class="form-group">
                    <label for="algorithm">Algoritmo</label>
                    <select name="algorithm" id="algorithm" class="form-control">
                        <option value="backtracking">Backtracking</option>
                        <option value="las_vegas">Las Vegas</option>
                        <option value="AvaroOpt">Avaro + 2opt</option>
                        <option value="todos">Todos</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="n_nodes">Numero de Nodos</label>
                    <input type="number" name="n_nodes"
                           placeholder="0" class="form-control"
                           value="{{ request.form['n_nodes'] }}"></input>
                </div>
                <div class="form-group">
                    <label for="n_arcs">Numero de Arcos Extras</label>
                    <input type="number" name="n_arcs"
                           placeholder="-" class="form-control"
                           value="{{ request.form['n_arcs'] }}"></input>
                    <div>Dejar Vacio para grafo completemente conexo</div>
                </div>
                <div class="form-group">
                    <label for="max_arc_cost">Costo Maximo de Arista Agregado</label>
                    <input type="number" name="max_arc_cost"
                           placeholder="0" class="form-control"
                           value="{{ request.form['max_arc_cost'] }}"></input>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            {% if datos %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Algoritmo</th>
                      <th scope="col">Tiempo de  Busqueda</th>
                      <th scope="col">Espacio de busqueda</th>
                        <th scope="col">Costo de Ruta</th>
                        <th scope="col">Optimo?</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for dato in datos %}
                    <tr>

                           <th scope="row">{{loop.index}}</th>
                          <td>{{dato["algoritmo"]}}</td>
                          <td>{{dato["time"]}} seg.</td>
                          <td>{{ dato["cant_nodos_visitados"] }} nodos.</td>
                            <td>{{ dato["costo_ruta"] }} ud.</td>
                            <td>{{dato["optimo"]}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            {% endif %}
            {% if message %}
                <div class="h2">
                    "Argumentos Incompletos"
                </div>
            {% endif %}
        </div>
    </div>
    <hr>

{% endblock %}